<section class="call-to-action">
  <div class="container">
    <h2 class="call-to-action__title">
      Хотите обучаться игре на гитаре?
      <small class="call-to-action__title-small">Запишитесь на пробное бесплатное занятие:</small>
    </h2>
    <form action="thank-you" data-netlify="true" class="call-to-action__form form-lesson">

      <label class="sr-only" for="name-client">Имя клиента</label>
      <input type="text" class="form-lesson__input" value="" id="name-client" name="name-client" placeholder="Ваше имя" />

      <label class="sr-only" for="phone-client">Телефонный номер</label>
      <input type="tel" class="form-lesson__input" value="" id="phone-client" name="phone-client" placeholder="Номер телефона" />

      <label class="sr-only" for="phone-email">Ящик электронной почты</label>
      <input type="email" class="form-lesson__input" value="" id="phone-email" name="phone-email" placeholder="E-mail" />
      <input type="hidden" name="url-page" value="/index.html" />
      <input type="hidden" name="title-page" value="Главная" />
      <input type="hidden" name="submitBackCall" value="Отправить" />
      <input type="submit" class="form-lesson__submit" value="Отправить заявку" />
    </form>
    <p class="call-to-action__description">После заполения мы свяжемся с Вами для согласования даты и времени занятия.</p>
  </div>

</section>