<div class="top-phone">
  <div class="top-phone__contacts">
    <div class="top-phone__number"><%= site.data.company.phone %></div>
    <a href="#call-me" class="top-phone__call-me-link" data-toggle="modal" data-target="#call-me">Заказать звонок</a>
  </div>
  <%- partial('../common/first-lesson-link') %>
</div>